.carousel-body{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.next-card{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.prev-card{
    display: flex;
    align-items: center;
    cursor: pointer;

}